In [20]:
import pandas as pd
data = pd.read_csv('/Users/mahmoud/Zillow_Time_Series/zillow_dataaa.csv')

In [29]:
data

,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,337600.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,235400.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,210700.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,504600.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14718,1338,Ashfield,MA,Greenfield Town,Franklin,14719,94600.0,94300.0,94000.0,93700.0,...,216800,217700,218600,218500,218100,216400,213100,209800,209200,209300
14719,3293,Woodstock,NH,Claremont,Grafton,14720,92700.0,92500.0,92400.0,92200.0,...,202100,208400,212200,215200,214300,213100,213700,218300,222700,225800
14720,40404,Berea,KY,Richmond,Madison,14721,57100.0,57300.0,57500.0,57700.0,...,121800,122800,124600,126700,128800,130600,131700,132500,133000,133400
14721,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,191100.0,192400.0,193700.0,195000.0,...,662800,671200,682400,695600,695500,694700,706400,705300,681500,664400
14722,89155,Mesquite,NV,Las Vegas,Clark,14723,176400.0,176300.0,176100.0,176000.0,...,333800,336400,339700,343800,346800,348900,350400,353000,356000,357200

In [24]:
data= data.drop(columns=['RegionID'])

In [4]:
df.head()

,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,337600.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,235400.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,210700.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,504600.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [26]:
data.shape

(14723, 271)

In [11]:
for col in df.columns:
    print(col)

RegionName
City
State
Metro
CountyName
SizeRank
1996-04
1996-05
1996-06
1996-07
1996-08
1996-09
1996-10
1996-11
1996-12
1997-01
1997-02
1997-03
1997-04
1997-05
1997-06
1997-07
1997-08
1997-09
1997-10
1997-11
1997-12
1998-01
1998-02
1998-03
1998-04
1998-05
1998-06
1998-07
1998-08
1998-09
1998-10
1998-11
1998-12
1999-01
1999-02
1999-03
1999-04
1999-05
1999-06
1999-07
1999-08
1999-09
1999-10
1999-11
1999-12
2000-01
2000-02
2000-03
2000-04
2000-05
2000-06
2000-07
2000-08
2000-09
2000-10
2000-11
2000-12
2001-01
2001-02
2001-03
2001-04
2001-05
2001-06
2001-07
2001-08
2001-09
2001-10
2001-11
2001-12
2002-01
2002-02
2002-03
2002-04
2002-05
2002-06
2002-07
2002-08
2002-09
2002-10
2002-11
2002-12
2003-01
2003-02
2003-03
2003-04
2003-05
2003-06
2003-07
2003-08
2003-09
2003-10
2003-11
2003-12
2004-01
2004-02
2004-03
2004-04
2004-05
2004-06
2004-07
2004-08
2004-09
2004-10
2004-11
2004-12
2005-01
2005-02
2005-03
2005-04
2005-05
2005-06
2005-07
2005-08
2005-09
2005-10
2005-11
2005-12
2006-01
2006-02
2006-03
2006-04
2006-05
2006-06
2006-07
2006-08
2006-09
2006-10
2006-11
2006-12
2007-01
2007-02
2007-03
2007-04
2007-05
2007-06
2007-07
2007-08
2007-09
2007-10
2007-11
2007-12
2008-01
2008-02
2008-03
2008-04
2008-05
2008-06
2008-07
2008-08
2008-09
2008-10
2008-11
2008-12
2009-01
2009-02
2009-03
2009-04
2009-05
2009-06
2009-07
2009-08
2009-09
2009-10
2009-11
2009-12
2010-01
2010-02
2010-03
2010-04
2010-05
2010-06
2010-07
2010-08
2010-09
2010-10
2010-11
2010-12
2011-01
2011-02
2011-03
2011-04
2011-05
2011-06
2011-07
2011-08
2011-09
2011-10
2011-11
2011-12
2012-01
2012-02
2012-03
2012-04
2012-05
2012-06
2012-07
2012-08
2012-09
2012-10
2012-11
2012-12
2013-01
2013-02
2013-03
2013-04
2013-05
2013-06
2013-07
2013-08
2013-09
2013-10
2013-11
2013-12
2014-01
2014-02
2014-03
2014-04
2014-05
2014-06
2014-07
2014-08
2014-09
2014-10
2014-11
2014-12
2015-01
2015-02
2015-03
2015-04
2015-05
2015-06
2015-07
2015-08
2015-09
2015-10
2015-11
2015-12
2016-01
2016-02
2016-03
2016-04
2016-05
2016-06
2016-07
2016-08
2016-09
2016-10
2016-11
2016-12
2017-01
2017-02
2017-03
2017-04
2017-05
2017-06
2017-07
2017-08
2017-09
2017-10
2017-11
2017-12
2018-01
2018-02
2018-03
2018-04

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.statespace.sarimax import SARIMAX

In [30]:
# Perform any necessary preprocessing steps, such as handling missing values or transforming data

# Select the relevant columns for modeling
#cols = [# Load the dataset into a pandas DataFrame
#data = pd.read_csv('your_dataset.csv')

# Perform any necessary preprocessing steps, such as handling missing values or transforming data

# Select the relevant columns for modeling
cols = ['State', 'Metro', 'CountyName', 'SizeRank', 
        '1996-04', '1996-05', '1996-06', '1996-07', '1996-08', '1996-09', '1996-10',
        '1996-11', '1996-12', '1997-01', '1997-02', '1997-03', '1997-04', '1997-05',
        '1997-06', '1997-07', '1997-08', '1997-09', '1997-10', '1997-11', '1997-12',
        '1998-01', '1998-02', '1998-03', '1998-04', '1998-05', '1998-06', '1998-07',
        '1998-08', '1998-09', '1998-10', '1998-11', '1998-12', '1999-01', '1999-02',
        '1999-03', '1999-04', '1999-05', '1999-06', '1999-07', '1999-08', '1999-09',
        '1999-10', '1999-11', '1999-12', '2000-01', '2000-02', '2000-03', '2000-04',
        '2000-05', '2000-06', '2000-07', '2000-08', '2000-09', '2000-10', '2000-11',
        '2000-12', '2001-01', '2001-02', '2001-03', '2001-04', '2001-05', '2001-06',
        '2001-07', '2001-08', '2001-09', '2001-10', '2001-11', '2001-12', '2002-01',
        '2002-02', '2002-03', '2002-04', '2002-05', '2002-06', '2002-07', '2002-08',
        '2002-09', '2002-10', '2002-11', '2002-12', '2003-01', '2003-02', '2003-03',
        '2003-04', '2003-05', '2003-06', '2003-07', '2003-08', '2003-09', '2003-10',
        '2003-11', '2003-12', '2004-01', '2004-02', '2004-03', '2004-04', '2004-05',
        '2004-06', '2004-07', '2004-08', '2004-09', '2004-10', '2004-11', '2004-12',
        '2005-01', '2005-02', '2005-03', '2005-04', '2005-05', '2005-06', '2005-07',
        '2005-08', '2005-09', '2005-10', '2005-11', '2005-12', '2006-01', '2006-02',
        '2006-03', '2006-04', '2006-05', '2006-06', '2006-07', '2006-08', '2006-09',
        '2006-10', '2006-11', '2006-12', '2007-01', '2007-02', '2007-03', '2007-04',
        '2007-05', '2007-06', '2007-07', '2007-08', '2007-09', '2007-10', '2007-11',
        '2007-12', '2008-01', '2008-02', '2008-03', '2008-04', '2008-05', '2008-06',
        '2008-07', '2008-08', '2008-09', '2008-10', '2008-11', '2008-12', '2009-01',
        '2009-02', '2009-03', '2009-04', '2009-05', '2009-06', '2009-07', '2009-08',
        '2009-09', '2009-10', '2009-11', '2009-12', '2010-01', '2010-02', '2010-03',
        '2010-04', '2010-05', '2010-06', '2010-07', '2010-08', '2010-09', '2010-10',
        '2010-11', '2010-12', '2011-01', '2011-02', '2011-03', '2011-04', '2011-05',
        '2011-06', '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
        '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06', '2012-07',
        '2012-08', '2012-09', '2012-10', '2012-11', '2012-12', '2013-01', '2013-02',
        '2013-03', '2013-04', '2013-05', '2013-06', '2013-07', '2013-08', '2013-09',
        '2013-10', '2013-11', '2013-12', '2014-01', '2014-02', '2014-03', '2014-04',
        '2014-05', '2014-06', '2014-07', '2014-08', '2014-09', '2014-10', '2014-11',
        '2014-12', '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
        '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12', '2016-01',
        '2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-08',
        '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03',
        '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10',
        '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04']
df = df[cols]

In [34]:
df

,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
RegionName,,,,,,,,,,,,,,,,,,,,,
60657,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,337600.0,338500.0,339500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
75070,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,235400.0,233300.0,230600.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
77494,TX,Houston,Harris,3,210400.0,212200.0,212200.0,210700.0,208300.0,205500.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
60614,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,504600.0,505500.0,505700.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
79936,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,77300.0,77400.0,77500.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1338,MA,Greenfield Town,Franklin,14719,94600.0,94300.0,94000.0,93700.0,93400.0,93200.0,...,216800,217700,218600,218500,218100,216400,213100,209800,209200,209300
3293,NH,Claremont,Grafton,14720,92700.0,92500.0,92400.0,92200.0,92100.0,91900.0,...,202100,208400,212200,215200,214300,213100,213700,218300,222700,225800
40404,KY,Richmond,Madison,14721,57100.0,57300.0,57500.0,57700.0,58000.0,58200.0,...,121800,122800,124600,126700,128800,130600,131700,132500,133000,133400
81225,CO,NaN,Gunnison,14722,191100.0,192400.0,193700.0,195000.0,196300.0,197700.0,...,662800,671200,682400,695600,695500,694700,706400,705300,681500,664400
89155,NV,Las Vegas,Clark,14723,176400.0,176300.0,176100.0,176000.0,175900.0,175800.0,...,333800,336400,339700,343800,346800,348900,350400,353000,356000,357200

In [32]:
# Set the 'RegionName' column as the index
df.set_index('RegionName', inplace=True)

# Convert the index to numeric (if necessary)
df.index = pd.to_numeric(df.index, errors='coerce')

# Melt the DataFrame to convert it from wide to long format
df_c = df.melt(id_vars=['State', 'Metro', 'CountyName', 'SizeRank'],
               var_name='Date', value_name='Value')

# Convert the 'Date' column to datetime
df_c['Date'] = pd.to_datetime(df_c['Date'])

# Optionally, plot the time series to visualize the data
df_c.plot(x='Date', y='Value', legend=False)
plt.show()

KeyError: "None of ['RegionName'] are in the columns"

In [8]:
import pandas as pd
import numpy as np
from statsmodels.tsa.statespace.sarimax import SARIMAX

# Preprocess the data
# Handle missing values or outliers, perform any necessary transformations or feature engineering

# Convert to long format
df_long = df.melt(id_vars=['RegionName', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'], var_name='Date', value_name='States')
df_long['Date'] = pd.to_datetime(df_long['Date'])

# Split the data into training and testing sets
n_test = 12  # Number of test periods
train_data = df_long.iloc[:-n_test]
test_data = df_long.iloc[-n_test:]

# Define SARIMA model parameters
p = 1  # Autoregressive order
d = 1  # Integration order
q = 1  # Moving average order
P = 1  # Seasonal autoregressive order
D = 1  # Seasonal integration order
Q = 1  # Seasonal moving average order
m = 12  # Seasonal period

# Fit the SARIMA model
model = SARIMAX(train_data['State'], order=(p, d, q), seasonal_order=(P, D, Q, m))
model_fit = model.fit()

# Validate the model
predictions = model_fit.predict(start=test_data.index[0], end=test_data.index[-1])

# Evaluate the model
rmse = np.sqrt(((predictions - test_data['State']) ** 2).mean())
print("Root Mean Squared Error (RMSE):", rmse)

# Forecast future values
future_periods = 12  # number of periods to forecast
forecast = model_fit.get_forecast(steps=future_periods)
forecasted_values = forecast.predicted_mean

# Evaluate the forecast
predictions = model_fit.get_forecast(steps=len(test_data))
predicted_values = predictions.predicted_mean

# Compare forecasted_values with actual values of 'States'
comparison_df = pd.DataFrame({'Actual': test_data['State'], 'Predicted': predicted_values})

# Visualize the forecast and actual values
plt.plot(test_data['Date'], test_data['State'], label='Actual')
plt.plot(test_data['Date'], predicted_values, label='Predicted')
plt.xlabel('Date')
plt.ylabel('State')
plt.legend()
plt.show()

# Plot the time series of 'States' for each time period and overlay the forecasted values
mse = mean_squared_error(test_data['States'], predicted_values)
rmse = np.sqrt(mse)
print(f"Root Mean Squared Error (RMSE): {rmse}")

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).